body {
  background-color: rgb(28, 26, 26);
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 0.4rem;
  background: #ff0080;
  font-size: 3rem;
  min-width: 80rem;
}

.choice-container:hover {
  cursor: pointer;
}

.choice-prefix {
  padding: 2rem 2.5rem;
  color: white;
}

.choice-text {
  padding: 2rem;
  width: 100%;
}

.correct {
  background: #ffc72c;
}

.incorrect {
  background: red;
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

.hud-item-2-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.2rem solid white;
  border-radius: 2rem;
  margin-top: 2 rem;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: #8a2be2;
  width: 0%;
}
