

body {
  background-color: rgb(29, 26, 26);
}

//the asterisk is a unviersal selector
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 5.4rem;
  color: white;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: rgb(28, 26, 26);
  background-color: #ffc72c;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem #ffff99;
  transition: all 0.3s;
  transform: translateY(-3px) scale(1.1);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#highscore-btn {
  background-color: #ff0080;
}

#highscore-btn:hover {
  box-shadow: 0 0.4rem 1.4rem #ffb6c1;
}

.fa-crown {
  font-size: 2.5rem;
  margin-left: 1rem;
}
